* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-h1 {
    text-align: center;
    font-size: 7.375rem;
    font-weight: bold;
    color: rgb(144, 160, 102);
    text-shadow: 1.875rem 1.875rem 1.875rem cornflowerblue;
}
.RollinG-h1{
    text-align: center;
    margin-top: 1rem;
    margin-left: 20rem;
    font-size: 12.375rem;
    font-weight: bold;
    color: rgb(144, 160, 102);
    text-shadow: 1.875rem 1.875rem 1.875rem cornflowerblue;
}


.introduccion p {
    text-align: center;
    font-size: 1.5625rem;
    padding-right: 18.75rem;
    margin-top: 18.75rem;
    color: rgb(228, 92, 228);
    background-color: rgba(70, 60, 139, 0.329);
    background-size: 18.75rem;
}

body header nav div h2 {
    background-color: darkgray;
    font-size: 25 px;
    text-decoration: none;
    color: rgb(105, 4, 52);
}

.section-cards {
    display: flex;
}

.card {
    margin: 30px auto;
    width: 45rem;
    height: 31.25rem;
    background-color: rgba(239, 241, 80, 0.349);


}

.card2 {
    margin: 30px auto;
    width: 45rem;
    height: 31.25rem;
    background-color: rgba(247, 191, 213, 0.349);
}

.card ul li {
    text-align: center;
    list-style: none;
}

.card p {
    width: 21.875rem;
    text-align: center;
    margin: 0 auto;
    padding: 7rem 0rem;
}

header nav ul {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
}

header nav ul li a:hover {
    color: rgb(60, 111, 206);
}

body header h1 {
    background-color: grey;
    padding-top: 40px;
}

/*set up*/
body {
    background-image: url(../assets/img/gravel..jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.navbar li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9.375rem;
    margin: .625rem 0rem;


}

footer {
    background-color: rgba(0, 0, 0, 0.445);
    height: 6.25rem;
    color: white;
    text-align: center;
    margin-top: auto;
}
.card2{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}


/*-------cominezo de MEDIA QUERIS--------*/

@media(max-width:1024px) {
    .card2 {
        text-align: center;
        padding: 3.125rem 0rem;
    }
}

/*-------Dispositivo tamaño tablet---------*/

@media(max-width:768px) {

    .navbar li {
        gap: 2rem;

    }

    .card2 {
        text-align: center;
        padding: 2.8125rem 0rem;
    }

}

/*--------Dispositivo tablet--------*/

@media(max-width:425px) {
    .navbar li {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        gap: 0.5rem;

    }

    .card {
        width: 25rem;
    }

    .card p {
        width: auto;
    }

    .card2 {
        width: 21.875rem;
        text-align: center;
    }
}

@media(max-width:375px) {
    .card {
        width: 320px;
    }
}

/*-------Dispositivo MOBILE--------*/

@media(max-width:320px) {
    .navbar li {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        gap: 0.5rem;

    }
    .header-h1{
        font-size: 7,375rem;
    }

    .card {
        width: 18.75rem;
    }

    .card p {
        width: auto;
    }

    .card2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 18.75rem;
        text-align: center;
        height: 35rem;
    }
}