@media(max-width:425px) {
    .navbar li {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        gap: 0.5rem;

    }

    .RollinG-h1 {
        font-size: 100px;
    }

    .card {
        width: 25rem;
    }

    .card p {
        width: auto;
        font-size: 22px;
        color: #3c0465;
        padding-top: 30px;
        text-align: center;
        margin: 0 auto;
        padding: 2rem 0rem;

    }

    .card2 {
        width: 21.875rem;
        height: fit-content;
        text-align: center;
        font-size: 20px;
    }

    .header-h1 {
        margin-bottom: 65px;
    }

    .section-clases {
        grid-template-columns: auto;
    }

    .class-img {
        display: flex;
        flex-direction: row;
        margin-left: 1.25rem;
    }
}

@media(max-width:375px) {
    .card {
        width: 320px;
    }

    .section-clases {
        grid-template-columns: auto;
    }
}