@media(max-width:320px) {
    .navbar li {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        gap: 0.5rem;

    }
    .navbar-brand {
        color: rgb(231 136 183);
    }

    .header-h1 {
        text-align: center;
        margin-bottom: 65px;
        font-size: 6.375rem;
        font-weight: bold;
        color: #90a066;
        text-shadow: 1.875rem 1.875rem 1.875rem cornflowerblue;
    }

    .RollinG-h1 {
        display: flex;
        flex-direction: column;
        font-size: 4.625rem;
        text-align: center;
    }

    .introduccion p {
        display: flex;
        flex-direction: column;
        /* padding: 5%; */
        margin: 4.375rem 9.375rem 6.25rem 1.25rem;
        text-align: center;
        font-size: 1.5rem;
        padding-right: 18.75rem;
        margin-top: 18.75rem;
        color: #e45ce4;
        background-color: rgba(70, 60, 139, 0.329);
        background-size: 18.75rem;
    }
    .clases-h2{
        .clases h2 {
            background-color: rgba(233, 44, 202, 0.404);
            padding: 50px;
            border-radius: 35px;
            color: lemonchiffon;
    }


    .class-img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 20px;
    }

    .card {
        width: 18.75rem;
    }

    .card p {
        width: auto;
    }

    .card2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15.75rem;
        text-align: center;
    }

    .section-clases {
        grid-template-columns: auto;
    }

    footer {
        background-color: rgba(0, 0, 0, 0.445);
        height: 6.25rem;
        color: white;
        text-align: center;
        margin-bottom: auto;
    }
}