@media(max-width:768px) {

    .navbar li {
        gap: 2rem;

    }
    .RollinG-h1 {
        text-align: center;
        margin-top: 1rem;
        margin-left: 0px; 
        font-size: 10.375rem;
        font-weight: bold;
        color: #90a066;
        text-shadow: 1.875rem 1.875rem 1.875rem cornflowerblue;
    }
    .header-h1{
        margin-bottom: 65px;
    }

    .card2 {
        text-align: center;
        padding: 2.8125rem 0rem;
        height: fit-content;
    }

    /*.section-clases {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 5.625rem;
    }*/
    .section-clases {
        display: grid;
        grid-template-columns: repeat(2,300px);
        grid-auto-rows: auto;
        justify-content: center;
        gap: 20px;
        justify-items: center;
    }
    .footer {
        background-color: rgba(0, 0, 0, 0.445);
        height: 6.25rem;
        color: white;
        text-align: center;
        margin-top: auto;
    }

}